<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8"/>

      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/ember/ember.debug.js"></script>
      <script src="bower_components/ember/ember-template-compiler.js"></script>
      <script src="bower_components/d3/d3.js"></script>

      <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
      <link rel="stylesheet" href="style.css"/>
   </head>
   <body>

      <script type="text/x-handlebars" data-template-name="application">
         <div class="container">
            <div class="row">
               <div class="col-md-10 col-md-offset-1">

                  <h3>tiling demo

                     <button class="btn btn-default" {{action "randomize"}}>
                        randomize
                        <i class="glyphicon glyphicon-random"></i>
                     </button>
                  </h3>

                  {{grid-tiles width=500 height=500 circle=model}}

               </div>
            </div>
         </div>
      </script>

      <script type="text/x-handlebars" data-template-name="components/grid-tiles">
         <div class="row">
            <div class="col-sm-8">
               <svg id="canvas"></svg>
            </div>

            <div class="col-sm-4">
               <h4>grid tiles</h4>

               <table class="table">
                  <thead>
                     <th>size</th>
                     <th>count</th>
                     <th>area</th>
                  </thead>
                  <tbody>
                     {{#each tiles as |tile|}}
                        <tr>
                           <td>{{tile.label}}</td>
                           <td>{{tile.tileCount}}</td>
                           <td>{{tile.area}}</td>
                        </tr>
                     {{/each}}
                     <tr>
                        <td></td>
                        <td><b>{{totalTiles}}</b></td>
                        <td><b>{{tileArea}}</b></td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-6">
               <h4>circle</h4>

               <table class="table">
                  <tbody>
                     <tr>
                        <td>center</td>
                        <td>({{format-num circle.x}}, {{format-num circle.y}})</td>
                     </tr>
                     <tr>
                        <td>radius</td>
                        <td>{{format-num circle.r}}</td>
                     </tr>
                     <tr>
                        <td>area</td>
                        <td>{{format-num circleArea}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>

            <div class="col-sm-6">
               <h4>comparison</h4>

               <table class="table">
                  <tbody>
                     <tr>
                        <td>tiles saved</td>
                        <td>{{tilesSaved}} {{format-pct totalTiles tileArea}}</td>
                     </tr>
                     <tr>
                        <td>area difference</td>
                        <td>{{format-pct tileArea circleArea}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>

      </script>

      <script src="application.js"></script>

      <script>
         document.write('<script src="http://'
          + (location.host || 'localhost').split(':')[0]
          + ':35729/livereload.js"></'
          + 'script>')
      </script>

   </body>
</html>
