#canvas {
   border: 1px solid #ccc;
}

.grid .tick {
   stroke: #ccc;
}

.grid path {
   stroke-width: 0;
}

circle {
   stroke: steelblue;
   fill: none;
}

.tile {
   opacity: 0.5;
   stroke: #555;
}

th, td {
   text-align: left;
}

th:last-child, td:last-child {
   text-align: right;
}

